<section>
	<div class="hero bg-1 center">
		<div style="padding-top: 100px; height: 42px">
			<div class="active-typing"></div>
		</div>
		<br><br>
		<a href="mailto:kriordan@kpraccountancy.com?Subject=Pricing Inquiry" target="_top">Let's Chat</a>
	</div>
</section>

<section>
	<div class="mission_statement">
		<div class="title center">Mission Statement</div>
		<div>
			KPR Accountancy is a Denver based accounting firm that provides financial, tax, consulting and management
			advisory services. Our focus is small business and individuals who seek financial insight, integrations
			for new accounting system capabilities, strategic planning and tax oversight.
			KPR is here to partner with you in navigating finance – skillfully and responsibly.
		</div>
	</div>
</section>

<section>
	<div class="news_feed">
		<div class="title center">News Feed</div>
		<div class="news_container">
			<div class="news_content">1</div>
			<div class="news_content">2</div>
			<div class="news_content">3</div>
			<div class="news_content">4</div>
			<div class="news_content">5</div>
			<div class="news_content">6</div>
		</div>
	</div>
</section>

<section>
	<div id="section_services" class="services">
		<div class="title center">Services</div>
		<div class="thumbnail">
			<div class="heading">
				<%= image_tag("deal.svg", size: "60x60", alt: "Compliance") %>
				<div class="heading_title">Tax Compliance</div>
			</div>
			Let’s face it! The IRS is inescapable.  Engage KPR Accountancy tax advisory services to get the best return
			for your work determining tax breaks and strategies that will allow you to avoid paying higher taxes now and
			in the future.
			<br><br>
			KPR Accountancy also assists in filing C-Corp, S-Corp, Partnership and Individual tax returns
			and can give guided instruction on compliance related matters of other federal and state regulated reportings.
		</div>
		<div class="thumbnail">
			<div class="heading">
				<%= image_tag("cloud.svg", size: "60x60", alt: "Integration") %>
				<div class="heading_title">System Integration</div>
			</div>
			Let’s find technology solutions that work best for you! Help manage your
			business growth successfully with integrative technologies for accounting and business management.
			<br><br>
			At KPR Accountancy, we work directly with you and your team to evaluate business processes and
			technologies available. This ensures your systems supply valuable data, insights into your operations,
			and streamlined processes where available. Move from your old outdated method of doing business
			to an integrated one.
			<br><br>
			Efficient time management, real-time information and advanced reporting
			tools available all at your fingertip. Let’s put dollars back into your pocket.
		</div>
		<div class="thumbnail">
			<div class="heading">
				<%= image_tag("chess.svg", size: "60x60", alt: "Strategy") %>
				<div class="heading_title">Financial Strategy</div>
			</div>
			KPR Accountancy provides expertise in strategic financial planning – supporting where you want to
			go and facilitating how you’re going to get there. KPR assists companies in creating accurate budgeting,
			job cost analysis, cash flow management, and financial reporting.
			<br><br>
			Additionally, KPR Accountancy can
			aide in financial statement reporting in conformity with Generally Accepted Accounting Principles.
			KPR assists companies in complex accounting methodologies related to complex transactions and can perform
			regular financial reviews for management’s use.
		</div>
	</div>
</section>

<section>
	<div id="section_about" class="about">
		<div class="title">About</div>
		<div class="about_container">
			<%= image_tag("profile_tall_337x350.jpg", class: "about_img", size: "337x350", alt: "Linked In") %>
			<div class="about_stats">
				<ul>
					<li class="credential"><%= image_tag("Diploma-2.svg", class: "img", alt: "Credential") %></li>
					<li class="biography"><%= image_tag("Girl.svg", class: "img", alt: "Biography") %></li>
					<li class="education"><%= image_tag("Student-Hat-2.svg", class: "img", alt: "Student Hat") %></li>
					<li class="email"><%= image_tag("Envelope.svg", class: "img", alt: "Email") %></li>
					<li class="social"><%= image_tag("Linkedin-wht.svg", class: "img", class: "linked_in", alt: "Linked In") %></li>
				</ul>
			</div>
			<div class="about_general">
				<div class="about_general_icon">
					<%= image_tag("Information-wht.svg", style: "width: 100%", alt: "Information") %>
				</div>
				<div class="about_general_content"></div>
			</div>
			<div id="doughnutChart" class="chart"></div>
		</div>
	</div>
</section>

<section>
	<div id="section_pricing" class="pricing">
		<div class="title center">Pricing</div>
		<div class="thumbnail">
			<div class="heading">
				<%= image_tag("blueprints.svg", size: "60x60", alt: "Custom") %>
				<div class="heading_title">Custom Tailored</div>
			</div>
			All pricings are a fixed fee determined based on your individual needs. Our customized pricing plan
			options allow you to choose how involved you would like KPR to be. All services are guaranteed to your
			satisfaction as KPR believes whole-heartedly in the quality and reliability of services to our clients.
		</div>
		<div class="thumbnail">
			<div class="heading">
				<%= image_tag("message.svg", size: "60x60", alt: "Custom") %>
				<div class="heading_title">Let's Chat</div>
			</div>
			To schedule a free “Meet & Greet” or to ask a question about how KPRs capabilities can assist in bringing
			your financial performance to the next level, please contact us using the form below. KPR Accountancy will
			be in touch with you within 2-3 business days.
		</div>
	</div>
</section>

<section>
	<div class="footer">
		<div class="disclaimers">
			© 2015 - Circular 230 Disclosure
		</div>
		<div class="social">
			<div class="linked_in"><%= image_tag("Linkedin.svg", alt: "Linked In") %></div>
		</div>

	</div>
</section>

<div id="general_content" style="display: none">
	KPR Accountancy was built for small business strategic planning.
	<br>
	Business are made of people - which is why we put them first; by understanding their needs of today, and
	positioning them for the goals of tomorrow.
</div>
<div id="credential_content" style="display: none">
	I started my accounting career with 4 years in big-4 public accounting KPMG performing company audits,
	financial statement reviews, and tax preparations for large C-Corps, S-Corps and Partnerships. Upon relocating
	to Colorado with her husband in 2012, Keri joined the internal corporate tax department as second in charge of
	a large corporation grossing $400M plus annually.
	<br><br>
	Her skill set includes business forecast analytics, strategic tax planning, financial statement reporting accuracy
	under Generally Accepted Accounting Principles (GAAP), a broad range of tax compliance work, state tax oversight,
	and merger and acquisition due diligence processes.
</div>
<div id="biography_content" style="display: none">
	biography stuff
</div>
<div id="education_content" style="display: none">
	Montana State University, Bozeman, MT<br>
	Master of Professional Accountancy<br>
	Bachelor of Science degrees<br>
	Certified Public Accountant (CPA) licensed within the State of Colorado.
</div>
<div id="email_content" style="display: none">
	To build a design for your financial future, I provide a provide a plan as unique as your business. Give
</div>
<div id="social_content" style="display: none">
	Drop me a line on social media - I'd love to hear from you!
</div>

<script type="text/javascript">
	var about_general = $('.about_general');
	var about_general_icon = $('.about_general_icon');
	var about_general_content = $('.about_general_content');

	$('document').ready(function(){
		general_size = set_about_general_size(about_general);
		about_general.css({width: general_size, height: "498px"});
		set_default_about_content();
	});


	$('.about_stats ul li').click(function(){
		set_tab_actions($(this));
	});

	$('.social').click(function(){
		const url = 'https://www.linkedin.com/in/kpr-accountancy-3257a110a';
		const social_footer_link = $(this).attr('class');
		const social_about_tab = $(this).children().first();

		if (social_footer_link == 'linked_in'){
			window.open(url, '_blank');
		} else if (social_about_tab.hasClass('linked_in')){
			if (!social_about_tab.hasClass('extended')){
				social_about_tab.addClass('extended');
				window.open(url, '_blank');
			} else {
				social_about_tab.removeClass('extended');
			}
		}
	});

	$("#nav_services").click(function() {
		$('html, body').animate({
			scrollTop: $("#section_services").offset().top - 50
		}, 500);
	});

	$("#nav_about").click(function() {
		$('html, body').animate({
			scrollTop: $("#section_about").offset().top - 50
		}, 500);
	});

	$("#nav_pricing").click(function() {
		$('html, body').animate({
			scrollTop: $("#section_pricing").offset().top - 50
		}, 400);
	});

	function set_default_about_content(){
		var about_icon_default = '<%= j(image_tag("Information-wht.svg", style: "width: 100%", alt: "Information")) %>';
		general_content = $('#general_content').text();
		$('.about_general_icon').empty().append(about_icon_default);
		$('.about_general_content').empty().append(general_content);
	}
	function fill_about_content(object){
		const about_icon = object.children().first().clone();
		const about_content = $('#' + object.attr('class') + '_content').text();
		about_general_icon.empty().append(about_icon);
		about_general_content.empty().append(about_content);
	}
	function set_tab_actions(object){
		const selected_icon = object.children().first();
		if (object.width() == 40){
			object.animate({width: "+=50px"}, 100);
			$(selected_icon).delay(40).animate({paddingLeft: "+=50px"}, 200);
			fill_about_content(object);
			close_remaining_tabs(object);
		} else {
			close_this_tab(object);
			set_default_about_content();
		}
	}
	function close_remaining_tabs(tab){
		tab.siblings().each(function(){
			if ($(this).width() > 40) {
				close_this_tab($(this));
			}
		})
	}
	function close_this_tab(tab){
		const selected_icon = tab.children().first();
		tab.animate({width: "-=50px"}, 100);
		$(selected_icon).animate({paddingLeft: "-=50px"}, 200);
	}
	function set_about_general_size(about_general){
		const chart_location = $('#doughnutChart').offset().left;
		const general_location = about_general.offset().left;
		general_size = chart_location - general_location - 35;
		return general_size;
	}
</script>
