<section>
	<%# if current_user && current_user.admin? %>
		<div class="news_feed">
			<div class="title center">News Feed</div>
			<div class="news_row_top">
				<div class="top-left" data-link=<%= news_articles[0].link %>>
					<% if news_articles[0].present?%>
						<div class="news_feed_title"><%= news_articles[0].title  %></div>
						<div class="news_feed_body"><%= news_articles[0].body %></div>
					<% end %>
				</div>
				<div class="top-right">
					<div class="news_feed_title"><%= news_articles[1].title if news_articles[1].present?%></div>
				</div>
			</div>
			<div class="news_row_bottom">
				<div class="bottom-left">
					<div class="news_feed_title"><%= news_articles[2].title if news_articles[2].present?%></div>
				</div>
				<div class="news_slider">
					<div class="news_content">
						<div class="news_feed_title"><%= news_articles[3].title if news_articles[3].present?%></div>
					</div>
					<div class="news_content">
						<div class="news_feed_title"><%= news_articles[4].title if news_articles[4].present?%></div>
					</div>
					<div class="news_content">
						<div class="news_feed_title"><%= news_articles[5].title if news_articles[5].present?%></div>
					</div>
					<div class="news_content">
						<div class="news_feed_title"><%= news_articles[6].title if news_articles[6].present?%></div>
					</div>
					<div class="news_content">
						<div class="news_feed_title"><%= news_articles[7].title if news_articles[7].present?%></div>
					</div>
					<div class="news_content">
						<div class="news_feed_title"><%= news_articles[8].title if news_articles[8].present?%></div>
					</div>
				</div>
			</div>
		</div>
</section>

<script>
	$('.top-left').on("click", function(){
		url_path = $(this).attr("data-link");
		window.open(url_path, '_blank');
	})
</script>
