<div class="top-left news_content" data-link=<%= news_articles[0].link if news_articles[0].present? %>>
	<% if news_articles[0].present? %>
		<div class="news_feed_title">
			<%= news_articles[0].title  %>
			<% if current_user && current_user.admin? %>
				<%= link_to image_tag("Remove.svg", alt: "Delete"), news_articles[0], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'delete_news_article', :remote => true %>
			<% end %>
		</div>
		<div class="news_feed_body"><%= news_articles[0].body %></div>
	<% end %>
</div>
<div class="top-right news_content" data-link=<%= news_articles[1].link if news_articles[1].present? %>>
	<% if news_articles[1].present? %>
		<div class="news_feed_title">
			<%= news_articles[1].title  %>
			<% if current_user && current_user.admin? %>
				<%= link_to image_tag("Remove.svg", alt: "Delete"), news_articles[1], method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_news_article' %>
			<% end %>
		</div>
		<div class="news_feed_body"><%= news_articles[1].body %></div>
	<% end %>
</div>