<div class="new_article">
	<div class="wrapper">
		<%= form_for NewsArticle.new, url: { controller: "news_articles", action: "create" }, html: { class: "pure-form pure-form-stacked" }, remote: true do |f|%>
			<%= f.text_field :title, placeholder: "Headline" %>
			<%= f.text_area :body, placeholder: "Summary" %>
			<%= f.text_field :link, placeholder: "http://news_article_link.com" %>
			<br><br>
			<%= f.submit 'Publish', class: "pure-button pure-button-primary" %>
		<% end %>
	</div>
</div>