<div class="bottom-left news_content" data-link=<%= news_articles[2].link if news_articles[2].present? %>>
	<% if news_articles[2].present? %>
		<div class="news_feed_title">
			<%= news_articles[2].title  %>
			<% if current_user && current_user.admin? %>
				<%= link_to image_tag("Close.svg", alt: "Delete"), news_articles[2], method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_news_article' %>
			<% end %>
		</div>
		<div class="news_feed_body"><%= news_articles[2].body %></div>
	<% end %>
</div>
<div class="news_slider">
	<% (3..8).each do |index|%>
		<div class="news_content" data-link=<%= news_articles[index].link if news_articles[index].present? %>>
			<% if news_articles[index].present? %>
				<div class="news_feed_title">
					<%= news_articles[index].title  %>
					<% if current_user && current_user.admin? %>
						<%= link_to image_tag("Close.svg", alt: "Delete"), news_articles[index], method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_news_article' %>
					<% end %>
				</div>
				<div class="news_feed_body"><%= news_articles[index].body %></div>
			<% end %>
		</div>
	<% end %>
</div>