<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>KPR Accountancy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js', 'data-turbolinks-track' => true %>
	<link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
</head>

<body>
	<div class="container">
		<%= render partial: "shared/nav_bar.html.erb" %>
		<%= yield %>
		<%= render partial: "shared/footer.html.erb" %>
	</div>
</body>

</html>
