<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>KPR Accountancy</title>
		<%= stylesheet_link_tag *%w(
			application
			//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css
			//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css
		 )
		%>
		<%= stylesheet_link_tag media: 'all', 'data-turbolinks-track' => true %>

		<%= javascript_include_tag *%w(
				application
				//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js
				//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js
			)
		%>
		<%= javascript_include_tag 'data-turbolinks-track' => true %>

		<link href='https://fonts.googleapis.com/css?family=Roboto:100,500' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="container">
			<%= render partial: "shared/nav_bar.html.erb" %>
			<%= render partial: "shared/signin_form.html.erb" %>
			<%= yield %>
		</div>
	</body>

</html>

<script type="text/javascript">
	$(document).ready(function(){
		$("#nav_signin").on("click", function() {
			$('#sign_in_form').fadeIn(300).attr('tabindex', -1).focus();
		});

		$(document).mouseup(function (e)
		{
			var container = $('#sign_in_form');
			if (!container.is(e.target) // if the target of the click isn't the container...
				&& container.has(e.target).length === 0) // ... nor a descendant of the container
			{
				container.fadeOut(300);
			}
		});
	});
</script>
